#map {
    width: 900px;
    height: 500px;
}


.endangered {
    /*width: 40px;*/
    /*height: 40px;*/
    /*background-color: red;*/
    text-align: center;
    font-size: 8px;
    border-radius: 50%;
    color: black;
    background: rgba(225, 12, 28, 0.85);
    -webkit-text-stroke: 0.5px black;
}

.not_endangered {

    text-align: center;
    font-size: 8px;
    border-radius: 50%;
    color: black;
    background: rgba(59, 101, 252, 0.85);
    -webkit-text-stroke: 0.5px black;

}

.popUpfeature {
    font: 10px sans-serif;
}

.redListFont {
    color: rgba(225, 12, 28, 1);
    height: 10px;
}



.thumbnail {
   width: 100px; /* I took the width from your post and placed it in css */
   height: 100px;
}

/* This will style any <img> element in .parent div */
.thumbnail img {
   display: block;
  max-width:100px;
  max-height:100px;
  width: auto;
  height: auto;
    margin: 0 auto;
}

.leaflet-popup-content {
    margin: 5px;
    margin-top: 15px;
}

.popUpfeature {
    width: 100px;
}

.wikiButton {
    margin: 0 auto;
    width: 100%;
}
